/* ID SELECTORS */

#header-div {
	position: relative;
	width: 100vw;
	height: 100vh;
}

#background-clipped-div {
	position: absolute;
	clip: rect(0, auto, auto, 0);
 	width: 100vw;
 	height: 100vh;
}

#banner-div {
	position: fixed;
	display: block;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	transform: translateZ(0);
	will-change: transform;
	text-align: center;
}

#logo {
	height: 50vh;
	margin-top: 15vh;
}

#name-h1 {
	font-size: 5vh;
	line-height: 2vh;
	letter-spacing: 0.2vw;
	color: #eeeeee;
}

#scroll-down-div {
	width: 3em;
	border-radius: 2em;
	font-size: 1em;
	line-height: 3em;
	text-align: center;
	margin: 1em auto 0; /* top, (right & left), bottom) */
	background-color: #eeeeee;
	color: #000000;
}

#scroll-down-div:hover {
	background-color: #ffffff;
}

#separator-hr {
	margin: 0 0 0 0;
	background-color: #000000;
}

#main-content-div {
	max-width: 60em;
	margin: 0 auto; /* (top vh implicit & bottom vh implicit), (left & right) */
	padding: 1vh 1vw; /* (top & bottom), (left & right) */

	/* Shadow outline top */
/*	-webkit-box-shadow: 0px -21px 47px 3px rgba(0,0,0,0.75);*/
/*	-moz-box-shadow: 0px -21px 47px 3px rgba(0,0,0,0.75);*/
/*	box-shadow: 0px -21px 47px 3px rgba(0,0,0,0.75);*/
}

#footer-div {
	font-size: 1vh; /* the visible text should be % of the height of the screen */
	color: #aaaaaa; /* text color */
	font-style: italic;
	padding-bottom: 1vh;
	text-align: center;
}

/* CLASS SELECTORS */

.section {
	background-color: #222222;
	border: 0.3vh solid #ffffff;
/*	border-radius: 10px;*/

	margin: 0.8vh 0 1vh; /* top, (right vw implicit & left vw implicit), bottom */
	padding: 0 2vw 1vh; /* top vh is implicit, (right & left), bottom */

	/* Shadow outline bottom */
/*	-webkit-box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75); */
/*	-moz-box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);*/
/*	box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);*/
}

.nowrap-td {
	white-space: nowrap;
	padding-right: 0.3vw;
	vertical-align: text-top;
}

/* ELEMENT SELECTORS */

html {
	font-family: "TexGyreHeros", sans-serif;
	width: 100vw;
	height: 100vh;
}

body {
	font-size: 2vh; /* the visible text should be % of the height of the screen */
	margin: 0; /* There is a default margin for the body */
	color: #ffffff; /* text color */
	width: 100vw;
	background-color: #333333;
}

a:link {
	color: #eeeeee;
}

a:visited {
	color: #eeeeee;
}

a:hover {
	color: #ffffff;
}

h1 {
	font-size: 3.7vh;
	line-height: 5vh;
}

td {
	padding-bottom: 2vh;
}

/* QUERIES */

/* Font */

@font-face {
	font-family: TexGyreHeros;
	src: url("font-inter/Inter-Regular.otf") format("opentype");
}

@font-face {
	font-family: TexGyreHeros;
	font-weight: bold;
	src: url("font-inter/Inter-Bold.otf") format("opentype");
}

@font-face {
	font-family: TexGyreHeros;
	font-style: italic;
	src: url("font-inter/Inter-Italic.otf") format("opentype")
}

@font-face {
	font-family: TexGyreHeros;
	font-style: italic;
	font-weight: bold;
	src: url("font-inter/Inter-BoldItalic.otf") format("opentype")
}