/* Element selectors */

html {
	font-family: "Helvetica Neue";
	width: 100vw;
	height: 100vh;
}

body {
	font-size: 2vh; /* the visible text should be 1.6% of the height of the screen */
	margin: 0; /* There is a default margin for the body */
	color: #ffffff; /* text color */
	width: 100vw;
	background-color: #333333;
}

a:link {
	color: #eeeeee;
}

a:visited {
	color: #eeeeee;
}

a:hover {
	color: #ffffff;
}

h1 {
	font-size: 3.7vh;
	line-height: 5vh;
}

/* Id selectors */

#top-div {
	position: relative;;
	width: 100vw;
	height: 100vh;
	margin-bottom: 0;
	padding-bottom: 0;
}

#background-wrap-div {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#banner-div {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	transform: translateZ(0);
	will-change: transform;
	text-align: center;
}

#logo {
	height: 50vh;
	margin-top: 15vh;
}

#name-h1 {
	font-size: 5vh;
	line-height: 2vh;
	letter-spacing: 0.2vw;
	color: #eeeeee;
}

#scroll-down-div {
	width: 3em;
	border-radius: 2em;
	font-size: 1em;
	line-height: 3em;
	text-align: center;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #eeeeee;
	color: #000000;
}

#scroll-down-div:hover {
	background-color: #ffffff;
}

#main-content-div {
	max-width: 60em;

	margin-top: 0vh;
	margin-bottom: 0vh;
	margin-right: auto;
	margin-left: auto;

	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

#section {
	background-color: #111111;
	border-radius: 10px;

	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-top: 0vh;
	padding-bottom: 0.01vh;

	/* Shadow outline top */
	/*	-webkit-box-shadow: 0px -21px 47px 3px rgba(0,0,0,0.75);*/
	/*	-moz-box-shadow: 0px -21px 47px 3px rgba(0,0,0,0.75);*/
	/*	box-shadow: 0px -21px 47px 3px rgba(0,0,0,0.75);*/

	/* Shadow outline bottom */
		-webkit-box-shadow: 0px 27px 47px 3px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 27px 47px 3px rgba(0,0,0,0.75);
		box-shadow: 0px 27px 47px 3px rgba(0,0,0,0.75);

	/* Show inset bottom */
	/*	-webkit-box-shadow: inset 0px -55px 26px -40px rgba(0,0,0,0.75);*/
	/*	-moz-box-shadow: inset 0px -55px 26px -40px rgba(0,0,0,0.75);*/
	/*	box-shadow: inset 0px -55px 26px -40px rgba(0,0,0,0.75);*/
}

/* Media queries */
/* Size specific background image */

@media only screen and (max-width: 480px) {
	#banner-div {
		background-image: url(background-small.png);
	}
}

@media only screen and (max-width: 768px) {
	#banner-div {
		background-image: url(background-medium.png);
	}
}

@media only screen {
	#banner-div {
		background-image: url(background-big.png);
	}
}
